@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
}
.attribution{
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}
.container{
    width: 420px;
    background-color: hsl(213, 19%, 18%);
    padding: 40px 32px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: block;
    height: 420px;
}
.thx{
    z-index: 1;
    display: none;
}
li{
    list-style: none;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(215, 11%, 31%);
    border-radius: 26px;
    font-weight: 700;
    font-size: 16px;
    
}
.header{
    font-size: 28px;
    color: white;
    font-weight: 700;
    margin: 32px 0 16px;
}
.text{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}
.btn{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 14px 0;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.2em;
    cursor: pointer;
}
.star{
    background-color: hsl(215, 11%, 31%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.img-star{
    width: 16px;
    height: 16px;
    
}
li:hover{
    background-color: hsl(216, 12%, 54%);
    color: white;
    transition: 0.3s;
}
.active{
    background-color:hsl(25, 97%, 53%) !important;
}
.img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.rating{
    background-color: hsl(215, 11%, 31%);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: hsl(25, 97%, 53%);
    padding: 4px;
    border-radius: 20px;
}
.thankText .header,
.thankText .text {
    text-align: center;
}
.userRating::before,
.userRating::after {
  content: "\00a0";
}

@media(max-width: 375px){
    .container{
        width: 320px;
        height: 360px;
        padding: 22px;
    }
    li{
        width: 40px;
        height: 40px;
    }
    .header,
    .choices{
        margin: 20px 0;
    }
    .btn{
        padding: 10px;
    }
    .rating{
        width: 70%;
    }
}